body {
    background-color: antiquewhite;
}

button {
    width: 200px;
}

header{
    padding-bottom: 16px;
}

main {
    background-color: white;
    margin: 0 auto;
    max-width: 720px;
}

nav {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

footer {
    background-color: black;
    color: white;
}

